body { font-size: 12px; font-family: Arial, Helvetica, Geneva, Swiss, SunsSans-Regular, sans-serif; }
div { text-align: justify; }
.mainbody { position: relative; left: 20; width: 90%; }
.footer { font-size: 16px; }
.email { text-align: center; font-size: 8px; }
a:link, a:visited, a:active { text-decoration: none }
a:visited { color:blue; }
table { border: none; padding: 3px; font-size: 12px; line-height: 16px; font-family: Arial, Helvetica, Geneva, sans-serif; }
table.bordered { font-size: 12px; font-family: Arial, Helvetica, Geneva, sans-serif; border-collapse: collapse; border-spacing: 0; }
table.bordered th { padding: 5px; border: 1px solid black; }
table.bordered td { padding: 5px; border: 1px solid black; }
table.home th { padding: 10px; border: none; }
table.home td { padding: 10px; border: none; }
th:empty, td:empty { border: none; }
li.nav_li { list-style: none; }
.heading { font-size: 14px; font-weight: bold; font-family: Arial, Helvetica, Geneva, sans-serif; }
.resume_heading { font-size: 18px; font-family: Arial, Helvetica, Geneva, sans-serif; }
.resume_division { width: 800px; margin: 0px; padding: 0px; border: none; }
.resume_subheading { font-size: 14px; font-weight: bold; font-family: Arial, Helvetica, Geneva, sans-serif; }
.resume_detail { position: relative; text-align: justify; padding-left: 30px; vertical-align: top; }
.kid_quotes_heading { font-size: 14px; line-height: 22px; font-weight: bold; font-family: Arial, Helvetica, Geneva, sans-serif; }
hr.kid_quotes { color:#333333; background-color: #333333; height:1px; width: 75%; }

/*
body, table { font-family:sans-serif; font-size: 12px; }
heading { font-size: 16px; font-weight: bold; text-decoration: underline; }
hr { border: 0; color: black; background-color: black; height: 1px; }
*/